@charset "utf-8";

/*------------------------------------------

	@ Style Name	/css/common/base.css

--------------------------------------------

		- Reset
		- html, body
		- Section
		- Module

------------------------------------------*/
/*------------------------------------------
 *	html, body
------------------------------------------*/
body{
	line-height:1.4;
	font-family: 'Quicksand', sans-serif;
	background:#fafafa;
	color:#999;
	-webkit-text-size-adjust:none;
}
